<h1>Sports per country</h1>

<div>

    <select class="form-control" [(ngModel)]="selectedCountryKey" name="country" (change)="countrySelect()" required>
        <option selected>Select a country</option>
        <option [ngValue]="country.$key" *ngFor="let country of (countries | async)">{{country.name}} ({{country.code}})</option>
    </select>

</div>
<div *ngIf="selectedCountry">

    <table class="table table-striped">
        <tr>
            <th>Active</th>
            <th>Name</th>
        </tr>

        <tr *ngFor="let sport of (sports|async)">
            <td><input type="checkbox" [(checked)]="selectedCountry.sports && selectedCountry.sports[sport.$key]" (change)="sportToggle(sport, $event)"></td>
            <td>{{ sport.name }}</td>
        </tr>
    </table>

</div>

